services:
  apigateway.web:
    image: ${DOCKER_REGISTRY-}apigatewayweb
    container_name: apigateway.web
    build:
      context: .
      dockerfile: src/APIGateway.Web/Dockerfile
    ports:
      - "5000:8080"
      - "5001:8081"
    depends_on:
      - organizations.api

  organizations.api:
    image: ${DOCKER_REGISTRY-}organizationsapi
    container_name: organizations.api
    build:
      context: .
      dockerfile: src/Organizations.API/Dockerfile
    environment:
      - ConnectionStrings__OrganizationConnection=Host=magjob.database;Database=magjob;Username=postgres;Password=postgres;
    depends_on:
      magjob.database:
        condition: service_healthy

  magjob.database:
    image: postgres:latest
    container_name: magjob.database
    environment:
      POSTGRES_DB: magjob
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - ${APPDATA}/MagJob2.0/db/magjob:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  magjob.web:
    image: magjob.web:latest
    container_name: magjob.web
    build:
      context: src/Client.Web/
      dockerfile: Dockerfile
    ports:
      - "8080:4200"
    depends_on:
      - organizations.api

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    command: start-dev --import-realm
    environment:
      KC_HEALTH_ENABLED: true
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ${APPDATA}/MagJob2.0/db/keycloak:/opt/keycloak/data
      - ./src/Keycloak/realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - "18080:8080"

  pgadmin.web:
    image: dpage/pgadmin4:latest
    container_name: pgadmin.web
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - ${APPDATA}/MagJob2.0/data/pgadmin:/var/lib/pgadmin

  prometheus:
    image: keepitup2023/magjob-prometheus:0.0.1
    container_name: prometheus
    ports:
      - "9090:9090"
    depends_on:
      - magjob.web

  grafana:
    image: keepitup2023/magjob-grafana:0.0.1
    container_name: grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
