.sidebar {
    background-color: #FFFFFF;
    /*border-radius: 12px;*/
    display: grid;
    grid-template-rows: min-content min-content min-content min-content auto min-content min-content;
    justify-content: start;
    justify-items: center;
    align-items: start;
    row-gap: 24px;
    padding: 24px;
    gap: 24px;
    z-index: 1;
  }
  
  .btn {
    display: flex;
    padding: 10px 12px 10px 12px;
    border: none;
    column-gap: 12px;
    min-width: none;
    align-items: center;
  
    font-size: 14px;
    letter-spacing: -2%;
    text-align: center;
    line-height: 20px;
    border-radius: 8px;
  }