<div class="space-y-4">
    <h1 class="flex flex-row justify-between items-center text-3xl font-bold mb-4 text-gray-900 dark:text-white">
        Your Invitations
    </h1>
    <app-container [source$]="invitations$" (onStateChange)="state = $event">
        @for (invitation of state.data; track invitation.id) {
        <div
            class="relative m-2 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-50 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
            <div [ngClass]="{
            'absolute left-0 top-0 w-1 h-full rounded-l-lg': true,
            'bg-yellow-500': invitation.status === 0,
            'bg-green-500': invitation.status === 1,
            'bg-red-500': invitation.status === 2
        }"></div>

            <div class="flex justify-between items-center">
                <div>
                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">
                        {{ invitation.organizationName }} <span class="text-gray-500 font-medium">invited you to join
                            their organization</span>
                    </h5>
                    <p class="text-sm text-gray-500 dark:text-gray-400">
                        {{ invitation.createdAt | date:'medium' }}
                    </p>
                </div>

                <div class="flex items-center">
                    <app-tag [variant]="getStatusVariant(invitation.status)"
                        [text]="InvitationStatus[invitation.status]" />
                </div>
            </div>

            <div class="mt-4 flex gap-2" *ngIf="invitation.status === 0">
                <button type="button" (click)="acceptInvitation(invitation.id)"
                    class="text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">
                    Accept
                </button>
                <button type="button" (click)="rejectInvitation(invitation.id)"
                    class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
                    Reject
                </button>
            </div>
        </div>
        }
        @empty {
        <div class="p-4 mb-4 text-sm text-blue-800 rounded-lg bg-blue-50 dark:bg-gray-800 dark:text-blue-400"
            role="alert">
            <span class="font-medium">You have no invitations</span>
        </div>
        }
    </app-container>
</div>