@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .pagination {
        @apply flex gap-2 pt-4 justify-end;

        .prev {
            @apply flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
        }

        .next {
            @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-white bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 border rounded-e-lg border-gray-300 dark:border-gray-700;
        }

        .item {
            @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-white bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 border border-gray-300 dark:border-gray-700;
        }

        .item-active {
            @apply flex items-center justify-center px-3 h-8 text-blue-600 hover:text-blue-700 dark:text-white border border-gray-300 dark:border-gray-700 bg-blue-50 hover:bg-blue-100 dark:bg-gray-700;
        }

        .btn {
            @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-white bg-white hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 border rounded-lg border-gray-300 dark:border-gray-700;
        }

        select {
            @apply flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700;
        }
    }
}